option_settings:
  aws:elasticbeanstalk:application:environment:
    SPRING_PROFILES_ACTIVE: eb
    SPRING_DATASOURCE_URL: jdbc:mysql://hospital-db.cq9scw8emw7y.us-east-1.rds.amazonaws.com:3306/hospital_db?useSSL=true&requireSSL=true&serverTimezone=America/Mexico_City&allowPublicKeyRetrieval=true
    SPRING_DATASOURCE_USERNAME: root
    SPRING_DATASOURCE_PASSWORD: root1234
    JWT_SECRET: hospitalManagementSecretKey2024SecureAndLongEnoughForHS512
    JWT_EXPIRATION: 86400000
    CORS_ALLOWED_ORIGINS: https://frontend-production-987f.up.railway.app
